<!DOCTYPE html>
<html>
<head>
    <title>Dezconto - Seu companheiro de compras!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style-account.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/cupom.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    
</head>
<body>
    <div class="container-fluid font">  
        <div class="row header">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <img src="/images/logo2.png" class="img_logo">
            </div>
            <div class="col-sm-6"></div>
            <div class="col-sm-2">
                 <a  href="/lojista/homepage/sair"><button type="button" class="btt_entrar">SAIR</button></a>                                   
            </div>          
            <div class="col-sm-1"></div>
        </div>
        <div class="row mid">
            <div class="col-sm-2 menu">
                <div class="profile">
                    <img src="<%= imgProfile %>" class="img_profile">
                    Bem vindo!<br> <span id="nameUser"><%= nomeLojista %></span>
                </div>
                <ul>
                    <li class="opção selected" onclick="currentDiv(1)">Calculadora</li>
                    <li class="opção selected" onclick="currentDiv(2)">Criar Cupons</li>
                    <li class="opção selected" onclick="currentDiv(3)">Exibir Cupons</li>
		    <li class="opção selected" onclick="currentDiv(4)">Configurações</li>
                </ul>
            </div>
            <div class="col-sm-8 focus">
                <div class="mySlides">
                    <div class="row title">CALCULADORA</div>
                    <div class="row">
                        <div class="col-sm-5">
                            Valor da Compra (R$):<input id="valCompra" class="w3-input w3-border">
                            Cupom Promocional:<input id="cupomPromo" class="w3-input w3-border">
                            Email do Cliente:<input id="emailCli" class="w3-input w3-border">
                            <button  style="display: block">VALIDAR</button>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5">
                            
                            Valor <span>Dez</span>conto (R$):
                            <div id="valDesc" class="valor_dez">100,00</div>
                            <button onclick="calcular()" style="display: block">CALCULAR</button>
                        </div>
                    </div>
                </div>


                <div class="mySlides">
                    <div class="row title">GERENCIAR CUPONS</div>
                    <div class="row resize-font">
                        <div class="col-sm-5">
                        <form name="formGerenciarCupons" id="formGerenciarCupons" action="/lojista/homepage/gerenciar-cupons" method="post">
                            Nome do Cupom:<input name="nomeCupom" class="w3-input w3-border">
                            Descrição do Cupom:<input name="desCupom" class="w3-input w3-border">
                            
                            
                            Categoria do Cupom:
                            
                            <div class="custom-select">
                                <select placeholder name="catCupom">
                                    <option value="0">Selecione a Categoria</option>
                                    <option value="Alimentício">Alimentício</option>
                                    <option value="Cosmético">Cosmético</option>
                                    <option value="Farmacêutico">Farmacêutico</option>
                                    <option value="Vestuário">Vestuário</option>
                                    <option value="Multiplas Categorias">Multiplas Categorias</option>
                                    <option value="Outro">Outro</option>
                                </select>
                            </div>            
                            
                            
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5">
                            Valor do Cupom (%):                            
                            
                                <div class="output">
                                    <output name="outcusto1" id="outcusto1" class="output">4</output>
                                </div>
                                <input type="range" id='custo1' name='valCupom' min="4" max="99" value="4" class="slider" id="myRange" oninput="outcusto1.value = custo1.value">
                           

                            
                            Quantidade de Cupons:


                            
                                <div class="output">
                                    <output name="outcusto2" id="outcusto2" class="output">1</output>
                                </div>
                                <input type="range" id='custo2' name='qtdCupom' min="1" max="500" value="1" class="slider" id="myRange" oninput="outcusto2.value = custo2.value">
                            
                            <br>
                            Validade da Promoção (dias):
                            
                            
                                <div class="output">
                                    <output name="outcusto3" id="outcusto3" class="output">30</output>
                                </div>
                                <input type="range" id='custo3' name="validadePromo" min="1" max="90" value="30" class="slider" id="myRange" oninput="outcusto3.value = custo3.value">
                          
                            <br>
                            Validade de cada Cupom (dias):
                            
                         
                                <div class="output">
                                    <output name="outcusto4" id="outcusto4" class="output">30</output>
                                </div>
                                <input type="range" id='custo4' name='valCadaCupom' min="1" max="90" value="30" class="slider" id="myRange" oninput="outcusto4.value = custo4.value">
                          
                            
                            <label class="container">Estou ciente sobre os <a href="#">termos de uso</a>
                               <input type="checkbox">
                               <span class="checkmark"></span>
                            </label>

                         <button id="btnGerarCupom" type="submit">GERAR CUPOM</button>
                        </form>

                        </div>
                        <div class="col-sm-1"></div>
                            <br><div class="row options">
                               
                                <button class="btton2" button type="button" data-toggle="modal" data-target="#myModal">EXIBIR CUPONS CRIADOS</button>
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">ENTRAR</h4>
                                            </div>
                                            <div class="modal-body">
                            
                                                    <div class="form-group">
                                                        <label for="recipient-name" class="control-label">Email:</label>
                                                        <input type="text" class="form-control" id="emailLogin" required="">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="message-text" class="control-label">Senha:</label>
                                                        <input type="password" class="form-control" id="senhaLogin" required="">
                                                    </div>
                            
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                                <button type="button" id="logar" class="btn btn-success">Entrar</button>
                                            </div>
                                        </div>                                              
                                    </div>
                                </div>      
                            </div>
                    </div>
                </div>
		
		<div class="mySlides">
			<div class="row title">CUPONS CRIADOS</div>

             
			    <div class="row scrollspy">
                    <% for (var cupom in cuponsLojista) { %>
                   <div class="container_c">        
                    <div class="acpt">Cupons Cadastrados: <br><span><%- cuponsLojista[cupom].qtdCupom %> </span><br>Cupons Restantes: <br><span><%- cuponsLojista[cupom].qtdCupom %></span></div>
                    <div class="nome"> <%= cuponsLojista[cupom].nomeCupom %> </div>        

                    <div class="promo">ID<br><span><%- cuponsLojista[cupom].desCupom %> </span></div>
                    <div class="nome val">Promoção Válida por: <%- cuponsLojista[cupom].validadePromo %> dia(s)</div>
                    <div class="nome val">Cupom Válido por: <%- cuponsLojista[cupom].validadeCupom %> dia(s)</div>
                     <a href="#"><i class="fas fa-trash-alt apagar"></i></a>
                </div> 
                
            <% } %>
            </div>
		</div> 


                <div class="mySlides">
                    <div class="row title">CONFIGURAÇÕES</div>
                    <div class="row">
                        Valor cupom padrão:
    
                        <form name="registrationForm">
                            <div class="output">
                                <output name="outcusto1" id="outcusto1" class="output">3</output>
                            </div>
                            <input type="range" id='custo1' name='custo1' min="3" max="15" value="3" class="slider" id="myRange" oninput="outcusto1.value = custo1.value">
                        </form>
                        <br>
                        <div class="col-sm-5">
                            CEP:<input id="cep" onblur="pesquisacep(this.value);" class="w3-input w3-border w3-animate-input">
                            Estado:<input id="estado" class="w3-input w3-border w3-animate-input">
                            Cidade:<input id="cidade" class="w3-input w3-border w3-animate-input">
                            Nome da Loja:<input id="nomeLoja" class="w3-input w3-border w3-animate-input">
                            Telefone:<input data-mask="(00) 0000-0000" class="w3-input w3-border w3-animate-input">
                            
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-5">
                            Bairro:<input id="bairro" class="w3-input w3-border w3-animate-input">
                            Endereço:<input id="rua" class="w3-input w3-border w3-animate-input">
                            CNPJ:<input data-mask="00.000.000/0000-00" class="w3-input w3-border w3-animate-input">
                            Categoria da Loja:
                            
                            <div class="custom-select">
                                <select>
                                    <option value="0">Selecione a Categoria</option>
                                    <option value="1">Vestuario</option>
                                    <option value="2">Drogaria</option>
                                    <option value="3">Cosmético</option>
                                    <option value="4">Conveniência</option>
                                    <option value="5">Alimenticia</option>
                                    <option value="6">Multiplas Categorias</option>
                                    <option value="7">Outro</option>
                                </select>
                            </div>
                            <button>SALVAR ALTERAÇÕES</button>
                            
<!-- //////////////////////////////////////// SCRIPT DO SELECT \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
                            
                            <script>
                                var x, i, j, selElmnt, a, b, c;
                                x = document.getElementsByClassName("custom-select");
                                for (i = 0; i < x.length; i++) {
                                    selElmnt = x[i].getElementsByTagName("select")[0];

                                    a = document.createElement("DIV");
                                    a.setAttribute("class", "select-selected");
                                    a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
                                    x[i].appendChild(a);
                                    
                                    b = document.createElement("DIV");
                                    b.setAttribute("class", "select-items select-hide");
                                    for (j = 0; j < selElmnt.length; j++) {
                                        
                                        c = document.createElement("DIV");
                                        c.innerHTML = selElmnt.options[j].innerHTML;
                                        c.addEventListener("click", function(e) {
                                            var y, i, k, s, h;
                                            s = this.parentNode.parentNode.getElementsByTagName("select")[0];
                                            h = this.parentNode.previousSibling;
                                            for (i = 0; i < s.length; i++) {
                                                if (s.options[i].innerHTML == this.innerHTML) {
                                                    s.selectedIndex = i;
                                                    h.innerHTML = this.innerHTML;
                                                    y = this.parentNode.getElementsByClassName("same-as-selected");
                                                    for (k = 0; k < y.length; k++) {
                                                        y[k].removeAttribute("class");
                                                    }
                                                    this.setAttribute("class", "same-as-selected");
                                                    break;
                                                }
                                            }
                                            h.click();
                                        });
                                        b.appendChild(c);
                                    }
                                    x[i].appendChild(b);
                                    a.addEventListener("click", function(e) {
                                        e.stopPropagation();
                                        closeAllSelect(this);
                                        this.nextSibling.classList.toggle("select-hide");
                                        this.classList.toggle("select-arrow-active");
                                    });
                                }
                                function closeAllSelect(elmnt) {
                                    var x, y, i, arrNo = [];
                                    x = document.getElementsByClassName("select-items");
                                    y = document.getElementsByClassName("select-selected");
                                    for (i = 0; i < y.length; i++) {
                                        if (elmnt == y[i]) {
                                            arrNo.push(i)
                                        } else {
                                            y[i].classList.remove("select-arrow-active");
                                        }
                                    }
                                    for (i = 0; i < x.length; i++) {
                                        if (arrNo.indexOf(i)) {
                                            x[i].classList.add("select-hide");
                                        }
                                    }
                                }
                                document.addEventListener("click", closeAllSelect);


                                     console.log("VALUE: " + $('#custo1').val);

                                
                                

                            </script>
                                                    
                            
<!-- //////////////////////////////////////// FIM DO SCRIPT DO SELECT \\\\\\\z\\\\\\\\\\\\\\\\\\ -->
                            
                            
                            
                            
                            
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="row">
                            
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row footer">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="copy">
                            &copy; Copyright 2018 WiRED DSGN
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <img src="/images/logo-footer.png" class="logo_footer">
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>            
        </div>
    </div>
    
    <script src="account.js"></script>
    <script type="text/javascript" src="//assets.locaweb.com.br/locastyle/2.0.6/javascripts/locastyle.js"></script>
    <script>
        var slideIndex = <%= slideIndex %>;
        showDivs(slideIndex);


        function currentDiv(n) {
            showDivs(slideIndex = n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("opção");
            if (n > x.length) {slideIndex = 1}    
            if (n < 1) {slideIndex = x.length}
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";  
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" selected", "");
            }
            x[slideIndex-1].style.display = "block";  
            dots[slideIndex-1].className += " selected";
        }

        var expanded = false;

        function showCheckboxes() {
          var checkboxes = document.getElementById("checkboxes");
          if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
          } else {
            checkboxes.style.display = "none";
            expanded = false;
          }
        }

        console.log(document.getElementById('one').checked);

        function calcular() {
        	var valCompra = parseFloat((document.getElementById('valCompra').value).replace(',','.'));
        	var cupomPromo = document.getElementById('cupomPromo').value;        	

        	valDesc = valCompra*(cupomPromo/100);
        	console.log(cupomPromo);
			var res = String((valCompra-valDesc).toFixed(2));

        	
        	document.getElementById('valDesc').innerHTML = res.replace('.',',');
        }

        ///////////////////////////////////////   CEP    ////////////////////////////////////////////////////////////
        function limpa_formulário_cep() {
            //Limpa valores do formulário de cep.
            document.getElementById('rua').value=("");
            document.getElementById('bairro').value=("");
            document.getElementById('cidade').value=("");
            document.getElementById('estado').value=("");
        }

        function meu_callback(conteudo) {
            if (!("erro" in conteudo)) {
                //Atualiza os campos com os valores.
                document.getElementById('rua').value=(conteudo.logradouro);
                document.getElementById('bairro').value=(conteudo.bairro);
                document.getElementById('cidade').value=(conteudo.localidade);
                document.getElementById('estado').value=(conteudo.uf);
            } //end if.
            else {
                //CEP não Encontrado.
                limpa_formulário_cep();
                alert("CEP não encontrado.");
            }
        }
            
        function pesquisacep(valor) {

            //Nova variável "cep" somente com dígitos.
            var cep = valor.replace(/\D/g, '');

            //Verifica se campo cep possui valor informado.
            if (cep != "") {

                //Expressão regular para validar o CEP.
                var validacep = /^[0-9]{8}$/;

                //Valida o formato do CEP.
                if(validacep.test(cep)) {

                    //Preenche os campos com "..." enquanto consulta webservice.
                    document.getElementById('rua').value="...";
                    document.getElementById('bairro').value="...";
                    document.getElementById('cidade').value="...";
                    document.getElementById('estado').value="...";

                    //Cria um elemento javascript.
                    var script = document.createElement('script');

                    //Sincroniza com o callback.
                    script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

                    //Insere script no documento e carrega o conteúdo.
                    document.body.appendChild(script);

                } //end if.
                else {
                    //cep é inválido.
                    limpa_formulário_cep();
                    alert("Formato de CEP inválido.");
                }
            } //end if.
            else {
                //cep sem valor, limpa formulário.
                limpa_formulário_cep();
            }
        };
</script>
</body>
</html>
